{% extends "temp.html" %}
{% block body %}
  <div id="navigation">
    {% block navigation %}
    {% endblock %}
  </div>
  <div id="masthead">
    {% block masthead %}
    {% endblock %}
  </div>
  <div id="portfolio">
    {% block portfolio %}
    {% endblock %}
  </div>
  <div id="about">
    {% block about %}
    {% endblock %}
  </div>
  <div id="contactme">
    {% block contactme %}
    {% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    {% endblock %}
  </div>
{% endblock %}
