{% extends "bodystructure.html" %}
  {% block topNav %}Marist College{% endblock %}
  {% block name %}Brett Mooney{% endblock %}
  {% block selfDescriptor %}CS Major - Software Development - Marist Undergrad{% endblock %}
  {% block sellYourself %}Brett Mooney is an extremely hardworking, dedicated and trustworthy individual with a never say die attitude. His natural competitiveness allows him to always aim to perform higher in any situation and his empathy permits him to get along with and help anyone. Brett understands that no matter who someone is, anything is possible through hard work and determination.{% endblock %}
  {% block sellYourself2 %}{% endblock %}
  {% block streetAddress %}3399 North Road{% endblock %}
  {% block streetAddress2 %} Poughkeepsie, NY, 12601{% endblock %}
